name: CI

on:
  push:
    paths-ignore: &paths
      - '**.md'
  pull_request:
    paths-ignore: *paths

permissions: {}

env:
  BUILD_TYPE: Release
  SCCACHE_GHA_ENABLED: 'true'

jobs:
  build-mingw:
    runs-on: ubuntu-24.04
    # ubuntu-24.04 contains an outdated MinGW.
    container:
      image: debian:trixie

    steps:
    - uses: actions/checkout@v4
    - uses: mozilla-actions/sccache-action@v0.0.9

    - name: Install packages
      run: |
        dpkg --add-architecture i386
        apt-get update
        DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends \
          g++-mingw-w64-i686-posix ninja-build wine32 wine cmake ca-certificates

    - name: Create build environment
      run: cmake -E make_directory ./build

    - name: Configure CMake
      working-directory: ./build
      run: |
        cmake .. \
          -G Ninja \
          -D CMAKE_C_COMPILER_LAUNCHER=sccache \
          -D CMAKE_CXX_COMPILER_LAUNCHER=sccache \
          -D CMAKE_BUILD_TYPE=$BUILD_TYPE \
          -D CMAKE_TOOLCHAIN_FILE=../cmake/mingw-ubuntu.cmake

    - name: Build
      working-directory: ./build
      run: |
        export WINEPREFIX=$GITHUB_WORKSPACE/.wine
        mkdir -p $WINEPREFIX
        cmake --build . -j $(nproc)

  build-msvc:
    runs-on: windows-2025

    steps:
    - uses: actions/checkout@v4
    - uses: mozilla-actions/sccache-action@v0.0.9

    - name: Install Ninja
      run: choco install ninja

    - name: Add Launch-VsDevShell to PATH
      run: |
        $vs = (Get-CimInstance MSFT_VSInstance -Namespace root/cimv2/vs).InstallLocation
        Write-Output (Join-Path $vs Common7\Tools) >> $env:GITHUB_PATH

    - name: Create build environment
      run: cmake -E make_directory .\build

    - name: Configure CMake
      working-directory: ./build
      run: |
        Launch-VsDevShell -HostArch amd64 -Arch x86 -SkipAutomaticLocation
        cmake .. `
          -G Ninja `
          -D CMAKE_C_COMPILER_LAUNCHER=sccache `
          -D CMAKE_CXX_COMPILER_LAUNCHER=sccache `
          -D CMAKE_BUILD_TYPE="$env:BUILD_TYPE"

    - name: Build
      working-directory: ./build
      run: |
        Launch-VsDevShell -HostArch amd64 -Arch x86 -SkipAutomaticLocation
        cmake --build . -j $env:NUMBER_OF_PROCESSORS
